body {
    margin-top: 70px;
    font-family: Arial, sans-serif;
}

/* Profile */
.profile-section {
    background: #6f42c1;
    color: white;
    padding: 60px 20px;
}

.profile-img {
    width: 150px;
    border-radius: 50%;
    border: 4px solid white;
}

/* About */
.about-section {
    background: #f8d7da;
    padding: 40px;
}

/* Basic Details */
.basic-section {
    background: #d1ecf1;
    padding: 40px;
}

/* Education */
.education-section {
    background: #d4edda;
    padding: 40px;
}

/* Academic */
.academic-section {
    background: #fff3cd;
    padding: 40px;
}

/* Skills */
.skills-section {
    background: #cce5ff;
    padding: 40px;
}

.skills-section .col-md-4 {
    background: white;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

/* Projects */
.projects-section {
    background: #e2e3e5;
    padding: 40px;
}

/* Certificates */
.certificate-section {
    background: #f5c6cb;
    padding: 40px;
}

/* Achievements */
.achievement-section {
    background: #bee5eb;
    padding: 40px;
}

/* Contact */
.contact-section {
    background: #343a40;
    color: white;
    padding: 40px;
}

/* Footer */
.footer {
    background: black;
    color: white;
    padding: 10px;
}